/* bottom-nav.scss */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    /* 均匀分布底部导航栏的项目 */
    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;
    /* 给底部导航栏加上边框 */
    position: fixed;
    /* 固定底部 */
    bottom: 0;
    width: 100%;
    height: 150rpx;
    /* 底部导航栏的高度 */
    padding-bottom: 20rpx;
}

.nav-item {
    display: flex;
    flex-direction: column;
    /* 图标和文本垂直排列 */
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10rpx 0;
    /* 给每个导航项上下留白 */
}

.icons {
    width: 88rpx;
    height: 88rpx;
    margin-bottom: 5rpx;
    /* 图标和文字之间的间距 */
}

text {
    font-size: 30rpx;
    color: #333;
    /* 设置文字颜色 */
}

.red-dot-with-number {
    position: absolute;
    top: 8rpx;
    right: 8rpx;
    width: 30rpx;
    height: 40rpx;
    background-color: red;
    color: white;
    font-size: 20rpx;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6rpx;
    box-shadow: 0 0 4rpx rgba(0,0,0,0.2);
    z-index: 10;
  }