.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.header {
    display: flex;
    align-items: center;
    background-color: #FF416C;
    padding: 100rpx 20rpx 20rpx 20rpx;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.app-name {
    font-size: 40rpx;
    color: white;
}
