.header {
    display: flex;
    align-items: center;
    background-color: #FF416C;
    padding: 100rpx 20rpx 20rpx 20rpx;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.app-name {
    font-size: 40rpx;
    color: #222;
}

.chat-list {
    padding: 180rpx 20rpx 20rpx 20rpx;
  }
  
  .chat-item {
    display: flex;
    align-items: center;
    padding: 20rpx 0;
    border-bottom: 1px solid #eee;
  }
  
  .avatar {
    width: 80rpx;
    height: 80rpx;
    border-radius: 50%;
    margin-right: 20rpx;
    background-color: #f2f2f2;
  }
  
  .chat-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .chat-header {
    display: flex;
    justify-content: space-between;
    font-size: 28rpx;
    color: #333;
  }
  
  .name {
    font-weight: bold;
    max-width: 400rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .time {
    font-size: 24rpx;
    color: #999;
    white-space: nowrap;
  }
  
  .last-msg {
    font-size: 26rpx;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 6rpx;
  }