.back-btn {
    top: 110rpx;
    left: 30rpx;
    width: 50rpx;
    height: 50rpx;
    z-index: 10;
}

.notification-page {
    padding: 0 32rpx 10rpx 32rpx;
    background-color: #f9f9f9;
}

.notification-header {
    display: flex;
    top: 0;
    left: 0;
    gap: 20rpx;
    padding: 100rpx 0 20rpx 20rpx;
    position: fixed;
    font-size: 36rpx;
    font-weight: bold;
    margin-bottom: 24rpx;
    color: #222;
    background: #fff;
    width: 100%;
}

.noti {
    padding-top: 180rpx;
}

.notification-card {
    padding: 30rpx;
    margin: 30rpx 12rpx;
    border-radius: 10rpx;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s;
}

.notification-type {
    font-weight: bold;
    color: #444;
    display: block;
    margin-bottom: 8rpx;
}

.notification-title {
    font-size: 32rpx;
    font-weight: 500;
    margin-bottom: 8rpx;
    display: block;
    color: #222;
}

.notification-content {
    font-size: 30rpx;
    color: #555;
    display: block;
    margin-bottom: 16rpx;
}

.notification-time {
    font-size: 24rpx;
    color: #999;
    text-align: right;
    display: block;
}

.notification-tip {
    margin: 20rpx 30rpx 0;
    padding: 16rpx;
    background-color: #fffbe6;
    border: 1rpx solid #ffe58f;
    border-radius: 12rpx;
}

.tip-text {
    font-size: 26rpx;
    color: #faad14;
}

.back-btn:active {
    transform: scale(0.96);
    transition: all 0.1s ease;
}

.notification-card:active {
    opacity: 0.7;
    transform: scale(0.98);
    transition: all 0.1s ease;
}