.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    background-color: #FF416C;
    padding: 100rpx 20rpx 20rpx 20rpx;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.app-name {
    font-size: 40rpx;
    color: #222;
}

.location-icon {
    display: flex;
    align-items: center;
}

.location-icon-image {
    margin-left: 15rpx;
    width: 50rpx;
    height: 50rpx;
}

.location-text {   
    font-size: 35rpx;
    color: #222;
}

.search-container {
    margin-top: 180rpx;
    padding: 20rpx;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10rpx 20rpx;
    border-radius: 30rpx;
    box-shadow: 0 0 5rpx rgba(0, 0, 0, 0.1);
}

.search-icon {
    width: 30rpx;
    height: 30rpx;
    margin-right: 10rpx;
}

.search-input {
    width: 100%;
    height: 50rpx;
    border: none;
    background-color: transparent;
    font-size: 28rpx;
}

/* 分类部分样式 */
.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20rpx;
}

.category-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    /* 每个分类占用 20% 宽度 */
    margin-bottom: 20rpx;
}

.category-icon {
    width: 66rpx;
    height: 66rpx;
}

.category-text {
    margin-top: 15rpx;
    font-size: 27rpx;
    color: #333;
}

.task-list-container {
    padding: 20rpx 20rpx 160rpx 20rpx;
}

.task-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20rpx;
    margin-bottom: 15rpx;
    border-radius: 10rpx;
    box-shadow: 0 2rpx 10rpx rgba(0, 0, 0, 0.1);
}

.task-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.task-title {
    font-size: 30rpx;
    color: #333;
    font-weight: bold;
    margin-bottom: 10rpx;
}

.task-details {
    font-size: 24rpx;
    color: #666;
}

.task-time,
.task-location {
    margin-bottom: 8rpx;
}

.task-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 30%;
}

.task-reward {
    font-size: 28rpx;
    font-weight: bold;
    color: #FF416C;
    /* 报酬的颜色 */
}

.task-status {
    font-size: 26rpx;
    color: #333;
    margin-top: 10rpx;
}