.chat-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 170rpx;
    display: flex;
    background-color: #f55;
    color: white;
    font-weight: bold;
    box-shadow: 0 2rpx 6rpx rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.header-left,
.header-right {
    width: 50rpx;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-title {
    font-size: 32rpx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.back-btn {
    position: fixed;
    top: 100rpx;
    left: 20rpx;
    width: 50rpx;
    height: 50rpx;
}

.chat-container {
    position: absolute;
    top: 175rpx; // header 高度
    bottom: 125rpx; // input-bar 高度
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 0 20rpx;
}

.chat-title {
    margin-top: 90rpx;
}

.message-list {
    height: 100%;
}

.input-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    padding: 10rpx 0 35rpx 0;
    border-top: 1rpx solid #ddd;
    background-color: #fff;
}

.text-input {
    flex: 1;
    border: 1rpx solid #ccc;
    border-radius: 20rpx;
    padding: 12rpx 20rpx;
    margin-right: 10rpx;
    font-size: 28rpx;
}

.send-button {
    background-color: #1aad19;
    color: white;
    border: none;
    border-radius: 20rpx;
    font-size: 28rpx;
    max-width: 20%;
    white-space: nowrap;
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20rpx 10rpx 0 10rpx;
}

.message-wrapper.self {
    align-items: flex-end;
}

.msg-time {
    font-size: 20rpx;
    color: #999;
    margin-bottom: 6rpx;
}

.bubble {
    display: block;
    max-width: 70%;
    padding: 20rpx;
    border-radius: 24rpx;
    font-size: 28rpx;
    line-height: 1.6;
    background-color: #a0e75a;
    word-break: break-word;
    white-space: pre-wrap;
}

.message-wrapper.other .bubble {
    background-color: #f0f0f0;
}

.msg-status {
    font-size: 20rpx;
    color: #aaa;
    text-align: right;
    margin-top: 6rpx;
}

.chat-title:active {
  opacity: 0.7;
  transform: scale(0.96);
  transition: all 0.1s ease;
}