.register-container {
    height: 100vh;
    background: linear-gradient(to bottom, #f9f9fb, #e6f0ff);
    background-image: url('https://mutual-campus-1348081197.cos.ap-nanjing.myqcloud.com/image.png');
    background-size: cover;
    background-position: center;
}

.phone-btn {
    position: fixed;
    bottom: 100rpx; /* 靠底距离可调 */
    left: 50%;     /* 水平中心点 */
    transform: translateX(-50%);
    
    background-color: #07c160;
    color: white;
    padding: 20rpx 0;
    font-size: 30rpx;
    border-radius: 40rpx;
    width: 60%;
    font-weight: bold;
    box-shadow: 0 8rpx 20rpx rgba(0, 0, 0, 0.1);
    z-index: 999; /* 确保不被其他元素遮挡 */
  }

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 160rpx;
    height: 160rpx;
    border-radius: 50%;
    margin-bottom: 20rpx;
    box-shadow: 0 6rpx 16rpx rgba(0, 0, 0, 0.2);
}

.username {
    font-size: 36rpx;
    font-weight: bold;
    color: #333;
    margin-bottom: 40rpx;
}

.logout-btn,
.home-btn {
    background-color: white;
    color: #333;
    font-size: 28rpx;
    border-radius: 40rpx;
    width: 60%;
    height: 80rpx;
    margin-top: 20rpx;
    border: 2rpx solid #ccc;
}